ultralytics
mediapipe
opencv-python
easyocr
deepface
flask
flask-socketio
flask-cors
python-telegram-bot
requests
numpy<2
pillow
yt-dlp>=2024.1.0
google-generativeai
groq
supabase
python-dotenv
geopy
twilio
gTTS
deep-sort-realtime
torch
torchvision
huggingface_hub
vidgear[core]
cap-from-youtube
tavily-python
