ultralytics
mediapipe
opencv-python
easyocr
deepface
flask
flask-socketio
flask-cors
python-telegram-bot
requests
numpy
pillow
yt-dlp>=2024.1.0
groq
supabase
python-dotenv
geopy
geoapify
twilio
gTTS
deep-sort-realtime
torch
torchvision
huggingface_hub
vidgear[core]
cap-from-youtube
tavily-python
